h1 {
    text-align: center;
    margin: 20px;
}

.alert-primary {
    width: 80%;
    margin: 100px auto;
}

.information-user {
    margin: 20px auto;
    width: 80%;
}

.form-card {
    margin: 20px auto 70px;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;

    .action-button {
        text-align: center;
    }
}

.form-group {
    margin: 20px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
        width: 50%;
    }

    input {
        width: 50%;
    }
}

.action-button {
    text-align: center;
}

.button-update {
    background: #7A542E;
    color: #FFF;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 25px;
    margin: 10px auto;
    outline: none;
    font-size: 16px;
    font-weight: 500;

    &:hover {
        background: #0E402D;
    }

    &:active {
        transform: translate(1px, 1px);
    }

}

@media screen and (max-width: 780px) {

    .information-user,
    .form-group {
        width: 100%;
    }
}