<footer class="footer">
  <div class="logo-white">
    <img src="assets/logo_white.png" alt="logo footer" />
  </div>
  <nav class="menu-footer">
    <a routerLink="hebergements">Hébergements</a>
    <a routerLink="hote">Devenir hôte</a>
    <a routerLink="a-propos">A propos</a>
    <a routerLink="inscription">Contact </a>
  </nav>
  <nav class="menu-footer">
    <a routerLink="">Conditions générales d'utilisation</a>
    <a routerLink="">Mentions légales</a>
  </nav>
  <div class="credit"><p>&copy; 2022 - Atypik House</p></div>
</footer>
