<h1>Nous contacter</h1>

<div class="container">
  <div class="container-contact">
    <h3>Par téléphone ou email</h3>
    <p><span>Numéro de contact :</span> 098923203</p>
    <p><span>Email :</span> contact@atyikhouse.fr</p>
  </div>
  <hr />
  <div class="container-location">
    <h3>Notre agence</h3>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2599.136272353571!2d2.974595415014704!3d49.34956927395118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e87dc2499054f1%3A0x6139bbda8b55f0e9!2s12%20Le%20Beaudon%2C%2060350%20Pierrefonds!5e0!3m2!1sfr!2sfr!4v1660141651925!5m2!1sfr!2sfr"
      width="400"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
