<div class="form-update-accommodation">
  <form
    [formGroup]="updateAccommodationForm"
    *ngIf="updateAccommodation$ | async"
  >
    <div class="form-group">
      <label for="name">Nom de l'hébergement :</label>
      <input type="text" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="description">Description de l'hébergement :</label>
      <textarea type="text" formControlName="description" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label for="price">Prix de l'hébergement :</label>
      <input type="text" formControlName="price" />
    </div>
    <div class="form-group">
      <label>Activités de l'hébergement :</label>
      <!-- <label>
        <input
          type="checkbox"
          formControlName="activity"
          id="1"
          value="randonnés"
        />
        randonnés
      </label>
      <label>
        <input
          type="checkbox"
          formControlName="activity"
          id="1"
          value="randonnés"
        />
        randonnés
      </label> -->
      <div *ngFor="let activity of activity$ | async">
        <label>
          <input
            type="checkbox"
            formControlName="activity"
            [value]="activity.name"
            [id]="activity.name"
          />
          {{ activity.name | titlecase }}
        </label>
      </div>
    </div>
  </form>
</div>
