.form-update-accommodation {
    width: 100%;
    margin: 30px auto 70px;
    padding: 20px;
    box-shadow: 4px 4px 20px #D3D3D3;
}

.form-group {
    margin: 10px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}



input,
textarea {
    width: 50%;
}