<div class="form-update-accommodation">
  <form
    [formGroup]="updateAccommodationForm"
    *ngIf="updateAccommodation$ | async"
  >
    <div class="form-group">
      <label for="name">Nom de l'hébergement :</label>
      <input type="text" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="description">Description de l'hébergement :</label>
      <textarea type="text" formControlName="description" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label for="price">Prix de l'hébergement :</label>
      <input type="text" formControlName="price" />
    </div>
    <div class="form-group">
      <label>Activités de l'hébergement :</label>
      <div *ngFor="let activity of activity$ | async">
        <label>
          <input
            type="checkbox"
            [value]="activity.id"
            [checked]="activityCheck(activity.id)"
            (change)="onCheckboxChangeActivity($event)"
            formArrayName="activity"
          />
          {{ activity.name | titlecase }}
        </label>
      </div>
    </div>
    <button (click)="onSubmit()">Envoyer</button>
  </form>
</div>
