.form-update-accommodation {
    width: 90%;
    margin: 30px auto 70px;
    padding: 20px 30px;
    box-shadow: 4px 4px 20px #D3D3D3;
}

.form-group {
    margin: 10px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input,
textarea {
    width: 50%;
}