h1 {
    text-align: center;
    margin: 20px auto;
}

.body-host {
    margin: 20px auto;
    padding: 20px 10px;
    text-align: left;
    font-size: 20px;
}

.alert-primary {
    width: 80%;
    margin: 20px auto;

    svg {
        width: 20px;
        height: 20px;
    }
}

.title-accommodation-host {
    margin: 20px;
}

.button-new {
  display: block;
  background: #7A542E;
  color: #FFF;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 25px;
  margin: 50px auto 30px;
  outline: none;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    background: #0E402D;
  }

  &:active {
    transform: translate(1px, 1px);
  }
}
