.accommodation-bloc {
    position: relative;
    width: 300px;
    background: #fff;
    margin: 30px 10px;
    border: solid 1px #155B1D;
    border-radius: 25px;
    transition: .5s ease-out;
    text-align: left;
    color: #155B1D;
}

.accommodation-bloc:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

img {
    width: 100%;
    height: 200px;
    border-radius: 25px 25px 0 0;
}

.price {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFF;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    border: solid 2px #155B1D;
    border-radius: 25px;
    font-weight: 700;
}

.accommodation-region {
    margin: 10px 20px;
}

.accommodation-title {
    margin: 10px 20px;
    font-size: 20px;
    font-weight: 700;
}

.accommodation-description {
    margin: 10px 20px;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accommodation-review {
    margin: 0 20px;
    display: flex;

    p {
        margin: 0;
        margin-left: 5px;
    }
}

.rating {
    width: 100px;
}