.accommodation-bloc {
    position: relative;
    width: 300px;
    background: #fff;
    margin: 30px 10px;
    border: solid 1px #155B1D;
    border-radius: 25px;
    transition: .5s ease-out;
    text-align: left;
    color: #155B1D;
}

.accommodation-bloc:hover {
    cursor: pointer;
}

img {
    width: 300px;
    height: 200px;
    border-radius: 25px 25px 0 0;
}

.price {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFF;
    margin-right: 10px;
    padding: 10px;
    border: solid 2px #155B1D;
    border-radius: 25px;
    font-weight: 700;
}

p {
    margin: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
}

.accommodation-title {
    font-size: 20px;
    font-weight: 700;
}

.accommodation-description {
    color: #000;
    text-overflow: ellipsis;
}