<div class="body-booking">
  <form [formGroup]="bookingForm">
    <div class="datepicker">
      <mat-form-field appearance="legacy">
        <mat-label class="label-date">Date du séjour</mat-label>
        <mat-date-range-input
          [rangePicker]="picker"
          [dateFilter]="dateDisabled"
        >
          <input matStartDate formControlName="start" />
          <input matEndDate formControlName="end" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <p>Selected range: {{ bookingForm.value | json }}</p>
      <button class="btn btn-success" (click)="onSubmit()">Envoyer</button>
    </div>
  </form>
</div>
