<h1>CGU (conditions générales d’utilisations)</h1>

<div class="body-cgu">
  <p>
    Les présentes conditions d’utilisation sont conclues entre tout internaute
    utilisateur du site internet (ci-après dénommé « l’Utilisateur ») et le site
    « www.atypikhouse.com », exploité par la société
    <strong>AtypikHouse</strong>, SARL société de droit français enregistrée
    sous le numéro 492 855 890, dont le siège social est situé 12 Sentier du
    Beaudon Pierrefonds, 60400 Oise, France.
  </p>

  <p>
    Le site internet « www.atypikhouse.com » désigne le site internet accessible
    principalement depuis l’URL https://www. atypikhouse.com et permettant aux
    Utilisateurs de bénéficier des fonctionnalités décrites à l’article 2.
    atypikhouse.com restreint l’utilisation de son site aux seuls utilisateurs
    ayant la qualité de particulier et l’utilisant à une fréquence normale.
    L’utilisation ou l’accès détourné du site est strictement interdit à toute
    personne physique ou morale utilisant le site pour des besoins
    professionnels ou dans le cadre d’une activité professionnelle accessoire.
  </p>

  <p>
    Pour les besoins des présentes, le terme « Utilisation » regroupe toutes les
    opérations effectuées par l’Internaute dès l’accès au site, en ce compris sa
    simple consultation, quel qu’en soit le dispositif d’accès (notamment,
    ordinateur, tablette et Smartphone), le type de connexion (connexion privée,
    connexion d’un tiers ou Wi-Fi public) et le lieu de connexion (depuis la
    France ou l’étranger).
  </p>

  <p>
    L’utilisation du site implique l’acceptation sans réserve des présentes
    conditions générales par l’Utilisateur. Ces conditions peuvent faire l’objet
    de modifications. Dès lors, il est entendu que les conditions applicables
    sont celles en vigueur sur le site au moment de son utilisation.
  </p>

  <h2>Fonctionnalités proposées par le site</h2>
  <p>Le Site permet à l’Utilisateur :</p>
  <ul>
    <li>
      De découvrir les hébergements proposés par les propriétaires inscrit sur
      AtypikHouse
    </li>
    <li>
      Proposer des hébergements ou les modifier (ajouts d’équipements,
      activités…), si l’utilisateur est propriétaire
    </li>
    <li>D’effectuer des réservations selon les modalités prévues</li>
    <li>De publier des avis sur les hébergements</li>
    <li>
      Pouvoir créer, modifier ou supprimer ses informations, ainsi que consulter
      ses réservations
    </li>
  </ul>
  <p>
    La liste des fonctionnalités n’est fournie qu’à titre indicatif. Le Site se
    réserve le droit d’en ajouter ou d’en supprimer, temporairement ou
    définitivement, sans l’accord de l’Utilisateur.
  </p>

  <h2>Conditions d’utilisation du site</h2>
  <p>
    Le Site est réservé aux personnes majeures ayant la qualité de particulier
    ainsi qu’aux mineurs titulaires d’une autorisation parentale. En tout état
    de cause, www.atypikhouse.com encourage toute personne ayant la
    responsabilité d’un mineur à contrôler l’utilisation du Site par ce dernier.
  </p>
  <p>
    L’accès à certains services proposés par le Site peut être subordonné à la
    création d’un Compte nécessitant la communication, par l’Utilisateur,
    d’informations permettant son identification. Au regard des dispositions de
    la Loi pour la confiance dans l’économie numérique (LCEN) du 6 août 2004
    modifiée, www.atypikhouse.com dispose d’une obligation légale de collecte et
    de conservation de ces données d’identification. L’Utilisateur s’engage à
    transmettre des données exactes et complètes sur son identité et s’interdit
    d’usurper l’identité d’un tiers quelconque. Dans le cas contraire, le Site
    se réserve le droit ne pas confirmer, suspendre ou supprimer le compte.
  </p>

  <h2>Dépôt de contenus sur le site</h2>
  <p>
    L’Utilisateur est responsable de tout ce qui peut se produire en son nom et
    depuis son terminal informatique. L’Utilisateur s’engage à prévenir
    immédiatement le Site, dans l’hypothèse où il aurait des raisons de croire
    que son pseudo ou adresse email est, ou peut-être, connu par une personne
    non autorisée à l’utiliser. Le Site décline toute responsabilité en cas
    d’utilisation de données personnelles d’un Utilisateur par un tiers non
    autorisé.
  </p>

  <h2>Comportement sur le site</h2>
  <strong>L’Utilisateur s’interdit notamment de : </strong>
  <ul>
    <li>Commettre un quelconque agissement illégal</li>
    <li>
      Extraire ou collecter des données personnelles d’utilisateurs du Site par
      un moyen quelconque
    </li>
    <li>
      Extraire, enregistrer ou exploiter, à d’autres fins que l’unique affichage
      lors de la navigation sur le présent Site, les contenus de tiers soumis à
      droits de propriété intellectuelle, relatifs à la vie privée, données
      personnelles ou droits à image
    </li>
    <li>
      Stocker, diffuser ou publier tout contenu illégal, préjudiciable,
      injurieux, raciste, incitant à la haine, révisionniste, contraire aux
      bonnes mœurs, portant atteinte à la vie privée ou portant atteinte aux
      droits privatifs de tiers, notamment le droit à l’image des personnes et
      des biens, le droit de propriété intellectuelle ou le droit au respect de
      la vie privée.
    </li>
    <li>
      Stocker, diffuser ou publier, toute information permettant de révéler,
      directement ou indirectement, ses opinions politiques, philosophiques ou
      religieuses, son appartenance syndicale, son état santé ou son orientation
      sexuelle
    </li>
    <li>Déposer des contenus pour le compte d’un tiers</li>
    <li>
      Usurper l’identité d’un tiers et/ou publier toute information personnelle
      d’un tiers
    </li>
    <li>
      Stocker, diffuser ou publier tout contenu pouvant porter atteinte,
      directement ou indirectement, aux intérêts de AtypikHouse.
    </li>
  </ul>
  <p>
    D’une manière générale, l’Utilisateur s’engage à s’abstenir de tout
    comportement contraire à l’éthique sportive ou aux valeurs et intérêts de
    AtypikHouse.
  </p>

  <h2>Propriété intellectuelle</h2>
  <p>
    Le Contenu sur le Site est soumis à des droits de propriété et protégé au
    titre de la propriété intellectuelle, notamment droits d’auteurs, dessins et
    modèles, marques, noms de domaine, brevets, savoir-faire, logiciels ou bases
    de données. AtypikHouse restent propriétaires de l’ensemble de ces Contenus
    et droits associés. Sur ces contenus, AtypikHouse accorde aux Utilisateurs
    une licence limitée, non-exclusive, révocable, sans droit de sous-licencier
    pour les simples accès, navigation et utilisation liés au Site. Cette
    licence n’accorde aux Utilisateurs aucun autre droit, en particulier aucun
    droit d’exploitation commerciale de ces contenus.
  </p>
  <p>
    L’ensemble des contenus (notamment textes, commentaires, fichiers, images,
    photos, vidéos, œuvres, etc… ), éventuellement soumis à des droits de
    propriété, propriété intellectuelle, droit à l’image ou autre droit privatif
    restent la propriété de l’Utilisateur, sous réserve des droits limités
    accordés par la licence définie ci-dessous à AtypikHouse ou de
    l’application, au cas par cas, d’autres conditions particulières
    préalablement acceptées pour des services spécifiques potentiellement
    disponibles sur le site de AtypikHouse.
  </p>

  <h2>Responsabilité</h2>
  <p>
    La consultation et l’utilisation du Site se fait sous la responsabilité de
    l’Utilisateur. Le Site peut héberger des liens vers des sites tiers. En
    cliquant sur ces liens, l’Utilisateur reconnait que www.atypikhouse.com ne
    peut garantir le contenu de ceux-ci, et accepte par conséquent d’y accéder à
    ses propres risques. En conséquence, www. atypikhouse.com ne saurait être
    tenu responsable des dommages qui résulteraient de l’accès et/ou de
    l’utilisation du Site et des informations qu’il contient. L’Utilisateur est
    en outre informé que www. atypikhouse.com peut être amené à interrompre
    momentanément l’accès au Site pour des raisons techniques, notamment pour
    les raisons de sa maintenance. L’Utilisateur accepte ces interruptions et
    renonce à toute réclamation à ce sujet.
  </p>
  <p>
    L’utilisation du Site par l’Utilisateur implique la connaissance et
    l’acceptation des caractéristiques et des limites des technologies
    inhérentes à Internet, notamment en ce qui concerne les temps de réponse
    pour consulter ou interroger le serveur hébergeant le Site, les performances
    techniques, les risques d’interruption et, plus généralement, tout risque
    encouru lors de la transmission des données.
  </p>
  <p>
    Par conséquent, AtypikHouse ne sauraient en aucune circonstance être tenus
    responsables, sans que cette liste ne soit limitative :
  </p>
  <ul>
    <li>
      De toute information consultée sur le Site qui ne serait pas mise en ligne
      par www.atypikhouse.com
    </li>
    <li>
      De tout dysfonctionnement du réseau empêchant le bon fonctionnement du
      Site
    </li>
    <li>De perte de toute donnée</li>
    <li>Du dysfonctionnement de tout logiciel</li>
    <li>
      Des conséquences de tout virus informatique, bogue (bug), anomalie ou
      défaillance
    </li>
    <li>De tout dommage causé à l’ordinateur de l’Utilisateur</li>
  </ul>
  <p>
    L’activité de www.atypikhouse.com se limite à mettre en relation les
    Utilisateurs et à héberger les contenus publiés par ces derniers. En sa
    qualité d’hébergeur, au sens de <strong> l’article 6.I.2 </strong>de la Loi
    pour la confiance dans l’économie numérique du 21 juin 2004 modifiée,
    www.atypikhouse.com ne peut voir sa responsabilité engagée du fait des
    activités ou des contenus stockés sur son Site. La responsabilité de
    www.atypikhouse.com se limite à celle prévue par
    <strong>les articles 6.I.2</strong> et suivants de la Loi précitée. <br />
    Le Site pourra donc supprimer tout contenu illicite ou manifestement
    illicite sans avertissement préalable, préavis, conformément aux
    dispositions de <strong>l’article 6.I.3</strong> de ladite Loi. <br />
    En conséquence, www.atypikhouse.com n’est pas tenu d’exercer un contrôle a
    priori sur la qualité, la sûreté, la véracité ou la licéité des Contenus
    déposés par les Utilisateurs.
  </p>
  <p>
    En utilisant le Site, l’Utilisateur accepte de dégager la responsabilité de
    AtypikHouse dont www.atypikhouse.com et de le garantir de tout dommage,
    coûts et frais, directs et indirects, découlant de :
  </p>
  <ul>
    <li>
      Toute réclamation d’un tiers concernant tout contenu déposer en son nom,
      notamment pour violation de droits sur le contenu publié par l’Utilisateur
      sur le Site ou délits de presse en rapport avec les éléments envoyés ou
      publiés sur le Site.
    </li>
    <li>
      Toute activité relative à la participation sur le Site contraire aux
      présentes conditions générales, y compris dans un but frauduleux.
    </li>
    <li>La violation des présentes Conditions d’utilisation du Site.</li>
  </ul>
  <p>
    AtypikHouse tient à sensibiliser ses Utilisateurs quant à la publication de
    Contenus, tels que les avis ou autres photos d’hébergements des
    Utilisateurs. www.atypikhouse.com attire l’attention de ses Utilisateurs sur
    la nécessité de publier ou partager des photographies respectueuses et
    conformes à l’éthique de la nature et aux valeurs de AtypikHouse. Tout
    Contenu non conforme sera systématiquement retiré du Site.
  </p>

  <h2>Suppression des contenus déposés par les utilisateurs</h2>
  <p>
    www.atypikhouse.com pourra résilier toute inscription et/ou supprimer tout
    profil et/ou tout contenu et/ou toute information publiée sur le Site et/ou
    interdire l’utilisation et/ou l’accès au Site, dès connaissance du
    non-respect par l’Utilisateur des présentes conditions générales
    d’utilisation ou pour des raisons techniques. Cette modification ou
    suppression pourra s’effectuer sans préavis, sans notification ou
    avertissement préalable, à tout moment et à l’entière discrétion de
    www.atypikhouse.com. <br />
    Via mail à contact@atypikhouse.fr, chaque Utilisateur peut informer le Site,
    en joignant l’ensemble des précisions nécessaires au traitement de sa
    demande, qu’un Contenu est présumé publié en violation des présentes
    conditions d’utilisation.
  </p>
  <p>
    L’Utilisateur dispose également de la possibilité de supprimer les contenus
    déposés sur le Site. Pour ce faire, il doit formuler une demande de retrait
    du contenu via un mail à envoyer à
    <a href="mailto:contact@atypikhouse.fr">contact@atypikhouse.fr</a> : Cette
    demande doit impérativement s’accompagner des informations permettant
    l’identification dudit contenu. Les informations nécessaires à la
    suppression sont les suivantes : nom, prénom, adresse-email.
  </p>
  <p>
    Toute demande fondée et légitime sera traitée dans les meilleurs délais par
    www.atypikhouse.com sans que ce dernier ne puisse garantir une suppression
    immédiate de l’accès au contenu, l’Utilisateur reconnaît que
    www.atypikhouse.com ne saurait engager une quelconque responsabilité à cet
    égard, notamment du fait du délai nécessaire de traitement de sa demande, de
    contrainte technique ou d’impossibilité matérielle d’y répondre notamment
    dans le cas où le contenu aurait été repris par des tiers.
  </p>

  <h2>Intégralité</h2>
  <p>
    Si une ou plusieurs stipulations des conditions générales d’utilisation sont
    déclarées nulles ou caduques par application d’une loi, d’un règlement ou à
    la suite d’une décision judiciaire ou administrative définitive, les autres
    stipulations garderont leur force et leur portée. www.atypikhouse.com fera
    ses meilleurs efforts pour procéder dès que possible à son remplacement par
    une stipulation valide et d’une portée la plus proche à l’esprit des
    présentes. Le fait que l’une des parties n’ait pas exigé l’application d’une
    clause quelconque des présentes conditions, d’une façon permanente ou
    temporaire, ne pourra en aucun cas être considéré comme une renonciation à
    ladite clause.
  </p>

  <h2>Droit applicable / litiges</h2>
  <p>
    Les présentes conditions générales d’utilisation sont gouvernées par le
    droit français.
  </p>
</div>
