.form-create-accommodation {
  width: 100%;
  margin: 30px auto 70px;
  padding: 20px;
  box-shadow: 4px 4px 20px #D3D3D3;
}

.form-group {
  margin: 20px auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  input,
  textarea {
    width: 50%;
  }

  select {
    font-size: 16px;
    border: 1px solid #000;
    text-align: center;
    border-radius: 25px;
    width: 50%;
    height: 30px;
  }

  img {
    width: 50%;
  }

  &__file {
    justify-content: flex-end;
    margin: 20px auto;

    span {
      margin-left: 10px;
    }
  }
}

.checkbox {
  width: 50%;

  input {
    width: auto;
    margin-right: 10px;
  }
}


input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #0E402D;
  border-radius: 25px;
  padding: 6px 12px;
  cursor: pointer;
}

.alert {
  text-align: center;

  svg {
    width: 20px;
    height: 20px;
  }

  &-danger {
    width: 80%;
    margin: 100px auto;
  }

  &-success {
    width: 80%;
    margin: 30px auto;
  }

  &-primary {
    width: 80%;
    margin: 100px auto;
  }
}


.button-update {
  text-align: center;
  margin-top: 50px;

  button {
    background: #7A542E;
    color: #FFF;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 25px;
    margin: 10px 20px;
    outline: none;
    font-size: 16px;
    font-weight: 500;

    &:hover {
      background: #0E402D;
    }

    &:active {
      transform: translate(1px, 1px);
    }
  }
}


@media screen and (max-width: 780px) {

  .form-group {
    margin: 20px auto;

    input,
    textarea,
    select {
      width: 100%;
    }

    img {
      width: 100%;
    }

    &__file {
      justify-content: center;
    }
  }

  .checkbox {

    input {
      width: auto;
    }
  }
}
