h1 {
    text-align: center;
    margin: 20px auto 80px;
}

.alert-warning {
    width: 80%;
    margin: 80px auto;
}

h3 {
    text-align: center;
}

.table-service,
.table-equipement,
.table-activity {
    width: 80%;
    margin: 20px auto 80px;
    padding: 10px;

    thead {
        tr {
            text-align: center;
            border-bottom: 2px solid #000;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #808080;
        }

        th,
        td {
            text-align: center;
            padding: 20px;
        }
    }

    tfoot {
        text-align: right;

        th {
            padding: 20px;
        }
    }
}

@media screen and (max-width: 780px) {

    .table-service,
    .table-equipement,
    .table-activity {
        width: 100%;

        tbody {
            tr {
                border-bottom: 1px solid #808080;
            }

            th,
            td {
                padding: 5px;
            }
        }

        tfoot {

            th {
                padding: 5px;
            }
        }
    }
}