<h1 *ngIf="!loggedIn">Connexion</h1>

<div class="account-create" *ngIf="successAccount">
  <p>compte bien créé !</p>
</div>

<div class="form-card">
  <div *ngIf="loggedFailed">
    <div class="toast-error">
      Echec de connexion : E-mail ou mot de passe incorrect
    </div>
  </div>
  <form [formGroup]="connectForm" *ngIf="!loggedIn">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        [ngClass]="{
          'error-input': submitted && connectForm.controls['email'].errors
        }"
      />
    </div>
    <div *ngIf="submitted && connectForm.controls['email'].errors">
      <div
        *ngIf="connectForm.controls['email'].errors?.['required']"
        class="error-required"
      >
        E-mail obligatoire
      </div>
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        [ngClass]="{
          'error-input': submitted && connectForm.controls['password'].errors
        }"
      />
    </div>
    <div *ngIf="submitted && connectForm.controls['password'].errors">
      <div
        *ngIf="connectForm.controls['password'].errors?.['required']"
        class="error-required"
      >
        Mot de passe obligatoire
      </div>
    </div>
    <div class="action-button">
      <button type="submit" class="button-connect" (click)="onSubmit()">
        Se connecter
      </button>
    </div>
    <div class="forgot-password">
      <a href="" class="forgot-password-link">Mot de passe oublié ?</a>
    </div>
  </form>
  <div class="toast-connect" *ngIf="loggedIn">
    <p>Vous êtes bien connecté !</p>
  </div>
</div>

<div class="container-loader">
  <div class="loader">
    <mat-spinner *ngIf="loading$ | async"> </mat-spinner>
  </div>
</div>
