.container-accommodation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.paginator {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
}

.title-list-accommodation {
    padding: 20px;
    font-family: helloalimedium;
    text-align: center;
}