<div class="accommodation-bloc" (click)="onClickAccommodation()">
  <img
    src="https://source.unsplash.com/random/300×150"
    [alt]="accommodation.name"
  />
  <p class="price">{{ accommodation.price }} € / nuit</p>

  <p class="accommodation-title">{{ accommodation.name | titlecase }}</p>
  <p class="accommodation-region">
    {{ accommodation.region.name | titlecase }}
  </p>
  <p class="accommodation-review">{{ accommodation.reviews.length }} avis</p>
  <p class="accomodation-description">{{ accommodation.description }}</p>
</div>
