<div class="accommodation-bloc">
  <img
    src="https://source.unsplash.com/random/300×150"
    [alt]="accommodation.name"
  />
  <p class="price">{{ accommodation.price }} € / nuit</p>

  <p class="accommodation-title">{{ accommodation.name | titlecase }}</p>
  <p class="accommodation-region">{{ accommodation.region | titlecase }}</p>
  <p>{{ accommodation.reviews.length }} avis</p>

  <div *ngIf="accommodation.reviews.length !== 0">
    <p *ngFor="let review of accommodation.reviews">
      {{ review.comment }}
    </p>
  </div>
  <p class="accomodation-description">{{ accommodation.description }}</p>
</div>
