@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/poppins-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/poppins-bold-webfont.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/poppins-italic-webfont.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "helloalimedium";
    src: url("assets/fonts/helloali-webfont.woff") format("woff");
}

$color-negative-rating: #FFC058 !default;
$color-ok-rating: #FFC058 !default;
$color-positive-rating: #FFC058 !default;
$color-default-rating: #FFC058 !default;

@import '~css-star-rating/scss/star-rating';

* {
    font-family: Poppins, Roboto, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container-loader {
    clear: both;
    display: flex;
    justify-content: center;
    margin: 10px auto 20px;
}


.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #0E402D;
}

h1 {
    font-family: helloalimedium, Roboto, sans-serif;
}