<header class="header-cookie">
  <h1>
    Cookie, sur google traduction, ça veut dire biscuit.
  </h1>
  <img src="./assets/images/logo.png" alt="logo">
</header>
<p>
  Les cookies sont importants pour le bon fonctionnement d’un site. Afin d’améliorer l’expérience client, nous
  utilisons des cookies pour conserver les informations de connexion et fournir une connexion sûre.
  <a href="/a-propos/mentions-legales">En savoir plus</a>
</p>

<footer class="footer-cookie">
  <button class="refuse-cookie" (click)="refuseCookie()">Je refuse</button>
  <button class="accept-cookie" (click)="acceptCookie()">J'accepte</button>
</footer>

